<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
    <body>
        <h1> Add your AptBuilding </h1>
        <a href="{% url 'owner:apt-building:create' %}"> Add Here </a><br>
        {% for apt in AptBuilding %}
            <a href="{% url 'owner:apt:detail' pk=apt.pk %}"> <h1>{{ apt }}</h1> </a>
            <a href="{% url 'owner:apt-building:update' pk=apt.pk %}"> Update </a>
            <a href="{% url 'owner:apt-building:delete' pk=apt.pk %}"> Delete </a>
            <br>
        {% endfor %}
    </body>
</html>
